.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 780px;
}

.about p {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: var(--black);
    font-weight: bolder;
    line-height: 30px;
}

.about-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    margin-right: 16px;
    margin-bottom: 16px;
}

.about-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 3;
    padding-left: 10px;
}

.about-pic {
    width: 250px;
    /*box-shadow: 0 0 5px 2px #d6d6d6;*/
}

@media (max-width: 750px) {
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about-right {
        min-width: 300px;
        max-width: 400px;
    }
    .about p {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .about {
        flex-direction: column;
    }
    .about-right {
        min-width: 200px;
        max-width: 300px;
    }
    .about p {
        font-size: 16px;
    }
}