.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding: 70px 0;
}

.about-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.about-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.name {
    text-align: center;
    margin-bottom: 10px;
}

.about-me-paragraph {
    width: 750px;
}

.about-me-paragraph p {
    font-weight: lighter;
    font-size: 16px;
    color: var(--black);
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}

.about-pic-wrapper {
    float: left;
    margin: 5px 15px 0 0;
}

.about-pic {
    position: relative;
    border: 1px solid var(--primary);
    width: 250px;
    height: 290px;
}

.about-pic img {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.social a {
    color: var(--dark);
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
}

.social a:hover {
    color: var(--primary);
    padding: 5px;
    transition: 0.2s;
}

@media (max-width: 855px) {
    .about-div {
        margin-bottom: 100px;
    }

    .about-box {
        margin: 0 20px;
    }

    .about-me-paragraph {
        width: 700px;
    }
}

@media (max-width: 700px) {
    .about-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me-paragraph {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .about-me-paragraph {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .about-me-paragraph {
        width: 400px;
    }

    .about-pic {
        display: flex;
        justify-content: center;
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .about-box {
        flex-direction: column;
        justify-content: center;
    }

    .about-me-paragraph {
        width: 340px;
    }

    .about-pic-wrapper {
        float: none;
        display: flex;
        justify-content: center;
    }
    
    .about-pic {
        width: 200px;
        height: 232px;
    }

    .about-pic img {
        width: 200px;
    }
}