.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 60px;
  width: 600px;
}

.about-row {
  display: flex;
  flex-direction: row;
  width: 700px;
}

.about-info {
  margin-top: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.about-info p {
  margin-bottom: 20px;
}

.hobbies {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}

.hobbies-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px;
}

.hobby span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  margin: 4px;
}

.fancy-word {
  font-size: 30px;
  margin-right: 1px;
  font-family: "Pacifico", cursive;
  color: var(--primary); /* Example color */
}

@media (max-width: 900px) {
  .about-section {
    margin: 60px 30px;
    max-width: 600px;
  }

  .about-right-column {
    width: 90%;
    align-items: center;
    margin: 20px;
  }
}

@media (max-width: 647px) {
  .about-section {
    margin: 60px 20px;
    width: 500px;
  }
}

@media (max-width: 547px) {
  .about-section {
    width: 400px;
  }
}

@media (max-width: 447px) {
  .about-section {
    width: 320px;
  }
}
