.footer-container {
    background-color: var(--nav);
    overflow: hidden;
    position: sticky;
    width: 100%;
    margin-top: 50px;
}

.footer-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content img{
    width: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
}