.portfolio-container {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 6;
    align-items: center;
    justify-content: center;
    margin: 0 40px
}

