.portfolio-container {
    display: flex;
    flex-direction: column;
}

.divider {
    width: 50px;
    height: 4px;
    background: linear-gradient(to right, #7f7bff 0%, #50c9ff 100%);
    margin-top: 1px;
    margin-bottom: 20px;
}

.navbar {
    background: #fff;
    font-size: 18px;
    display: flex;
    box-shadow: 0 0 5px 2px #d6d6d6;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 75px;
    max-height: 75px;
    font-family: 'Inter', sans-serif;
}

.nav-links > .active {
    color: #7f7bff;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 6;
    align-items: center;
    justify-content: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 10px;
    width: 100%;
}