.portfolio-container {
    display: flex;
}

.divider {
    width: 50px;
    height: 4px;
    background: linear-gradient(to right, #7f7bff 0%, #4bd6ff 100%);
    margin-top: 1px;
    margin-bottom: 20px;
}

.navbar {
    background: #f6f4f0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #b0a79b;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 750px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Inter', sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 6;
    align-items: center;
    justify-content: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 850px;
}

.about-left {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
}

.about-right {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding-left: 10px;
}

.about-pic {
    box-shadow: 0 0 5px 2px #d6d6d6;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
}

.projects-content {
    display: flex;
    flex-direction: column;
}

.projects-display {
    margin: 30px;
}

.complete-project {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 2px #d6d6d6;
    justify-content: center;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;
    background: #dddbff;
    margin-right: 0;
}

.project-right {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    background: #fff;
}

.project-name {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project-h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 10px;
    background: #474747;
    width: 100%;
}

.footer p {
    color: #fff;
}