/*.nav-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    position: sticky;*/
/*    overflow: hidden;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    z-index: 100;*/
/*}*/

.navbar {
    width: 100%;
    position: sticky;
    overflow: hidden;
    top: 0;
    bottom: 0;
    z-index: 100;
    background: var(--white);
    font-size: 18px;
    display: flex;
    /*box-shadow: 0 0 5px 2px rgba(172, 172, 172, 0.5);*/
    flex: 1;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    padding: 0 70px;
    min-height: 75px;
    max-height: 75px;
}

/*.gradient-div {*/
/*    background: rgb(91, 227, 207);*/
/*    background: linear-gradient(to right, var(--secondary), var(--primary));*/
/*    height: .3rem;*/
/*    width: 100%;*/
/*    position: sticky;*/
/*    z-index: 100;*/
/*}*/

.nav-links a {
    color: var(--brown);
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0 10px;
    padding-bottom: 4px;
}

.nav-links a:hover {
    color: var(--brown);
    cursor: pointer;
    /*transition: 0.2s;*/
    border-bottom: 2px solid var(--secondary);
}

.nav-links > .active {
    color: var(--black);
    border-bottom: 2px solid var(--primary);
}

.logo {
    display: flex;
    width: 40px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: var(--brown);
    padding: 7px;
    text-transform: uppercase;
    margin-bottom: 15px;
    cursor: pointer;
}

.logo:hover {
    color: var(--dark) !important;
}

@media (max-width: 500px) {
    .nav-links a {
        font-size: 18px;
    }

    .logo {
        font-size: 25px;
    }
}
