.projects-display {
    margin-top: 0;
}

.complete-project {
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 0 5px 2px #d6d6d6;*/
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    /*background: var(--white);*/
    /*border-radius: 7px;*/
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 300px;
    min-width: 300px;
    min-height: 500px;
}

.project-card a {
    color: darkslateblue;
    border-bottom: 2px solid var(--primarylight);
    padding: 1px;
    font-size: 13px;
    font-weight: bold;
}

.project-card a:hover {
    color: var(--primary);
}

/*.project-right {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    max-width: 300px;*/
/*    min-width: 300px;*/
/*    min-height: 350px;*/
/*    max-height: 350px;*/
/*}*/

.project-name {
    text-align: left;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
    margin-right: 30px;
}

.project-img img {
    width: 100%;
    height: auto;
    box-shadow: 2px 3px 5px #ababab;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.gradient-div {
    /*background: rgb(140,220,255);*/
    /*background: linear-gradient(270deg, rgba(140,220,255,1) 12%, rgba(80,201,255,1) 30%, rgb(110, 94, 254) 74%);*/
    background: rgb(91,227,207);
    background: linear-gradient(270deg, rgb(185, 242, 243) 21%, rgb(140, 220, 255) 51%, rgb(140, 72, 217) 96%);
    height: .3rem;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-description {
    max-height: 100px;
    min-height: 100px;
}
