.projects-display {
    margin: 30px;
}

.complete-project {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 2px #d6d6d6;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
}

.project-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 340px;
    min-width: 340px;
    padding-bottom: 20px;
    background: var(--primarylight);
}

.project-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 340px;
    min-width: 340px;
    min-height: 450px;
    max-height: 450px;
    padding: 20px;
    background: #fff;
}

.project-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project-h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project-img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    object-fit: cover;
}
