.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 350px;
    margin-bottom: 40px;
}

.project-title {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;
    margin: 15px 10px;
}

.right {
    width: 450px;
    height: 270px;
    padding: 15px;
    margin: 15px 10px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-links a {
    text-align: center;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--white);
    border-radius: 30px;
    margin: 0 5px;
    font-size: 20px;
    padding: 10px 20px;
}

.project-links a:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    cursor: pointer;
    transition: 0.2s;
}

.project-img {
    width: 350px;
    height: 239px;
    box-shadow: 2px 3px 5px rgba(198, 197, 197, 0.5);
    border-radius: 4px;
}

.left:hover .project-links {
    opacity: 2;
}

@media (max-width: 780px) {
    .project-card {
        margin: 100px 0 90px;
    }
    .project-row {
       flex-wrap: wrap;
    }
    .project-title {
        margin-bottom: 20px;
    }
    .technologies {
        justify-content: center;
    }
    .left {
        margin: 0;
    }
    .right {
        margin-top: 0;
    }
}