button {
    font-size: 13px;
    color: var(--white);
    background: var(--secondary);
    border: 0;
    border-radius: 2px;
    padding: 10px;
}

button:hover {
    opacity: 60%;
    cursor: pointer;
}