.technologies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
}

.technologies h2 {
    display: flex;
    justify-content: center;
}

.technologies p {
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.languages h3 {
    color: var(--secondary);
    border-color: var(--secondary);
}
.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.project-description {
    width: 700px;
}

.project-description li {
    font-size: 12px;
}
.experience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin-top: 20px;
}

.experience h2 {
    display: flex;
    justify-content: center;
}

.experience-title {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
}

.experience h4 {
    font-weight: bold;
    color: var(--primary);
}
.experience li {
    font-size: 12px;
    line-height: 0;
    margin-left: 15px;
}

.education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin-top: 20px;
}

.education h2 {
    display: flex;
    justify-content: center;
}

.education-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/*right*/
.education-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 650px;
}

.education-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
}

.education h4 {
    font-weight: bold;
    color: var(--primary);
}
.education p {
    font-size: 12px;
    line-height: 0;
}

/*left*/
.school-img {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.school-img img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

@media (max-width: 500px) {
    .experience-title {
        flex-direction: column;
    }
    .education-title {
        flex-direction: column;
    }
}