:root {
    --primary: #50c9ff;
    --primarylight: #d9f2fd;
    --white: #ffffff;
    --secondary: #78199b;
    --black: #474747;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f6f4f0;
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    color: var(--secondary);
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: var(--black);
    font-weight: bolder;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

h2 {
    line-height: 0;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: var(--black);
}

h3 {
    font-family: 'PT Sans', sans-serif;
    color: var(--primary);
    text-transform: uppercase;
    border: 1px solid var(--primary);
    /*background: var(--primary);*/
    border-radius: 40px;
    padding: 10px 9px 9px;
    text-align: center;
    line-height: 0;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 7px;
}

h4 {
    font-family: 'PT Sans', sans-serif;
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
    line-height: 0;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 7px;
}

h5 {
    line-height: 0;
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: var(--primary);
    margin-top: 5px;
}

