.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    margin: 40px 0;
}

.experience-header {
    display: none;
}

.job-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

@media screen and (max-width: 940px) {
    .experience-content {
        padding: 0;
        margin-bottom: 80px;
    }

    .experience-header {
        display: contents;
    }
}